body {
  font-size: 24px;
  line-height: 36px;
}

#container {
  width: 600px;
  margin: 0 auto;
}

input {
  display: block;
  font-size: 16px;
  width: 400px;
}

.is-highlighted {
  background-color: #ff9;
}

#progress {
  width: 0;
  background-color: #f00;
  height: 10px;
}
